{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
            <h1 class="text-center">WELCOME TO THE NEIGHBOURHOOD</h1>

            <div class="row">
                <dv class="col-sm-6">
                    <a href="{% url 'authorities' %}">
                        <h1 class="text-center">Authorites</h1>
                    </a>
                    
                </dv>
                <div class="col-sm-6">
                    <a href="{%url 'health' %}">
                        <h1 class="text-center">Health Services</h1>
                    </a>
                </div>
            </div>
        </div>

        
    </div>
</div>
<style>
    body{
        background: url(https://i.ytimg.com/vi/n529hDCIoAE/maxresdefault.jpg) no-repeat;
        background-size: cover;
        background-position: center;
         
        font-family: 'Times New Roman', Times, serif;
    }
    .jumbotron{
        margin-top: 30px;
        padding: 100px;
        opacity: .7;
    }
    h1{
        margin: 10px;
    }
   
</style>
{% endblock%}