{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
            <h1 class="text-center">WELCOME TO THE NEIGHBOURHOOD</h1>
        </div>

        <div class="row">
            <dv class="col-sm-6">
                <a href="{% url 'health' %}">
                    <h1 class="text-center">Authorites/police</h1>
                </a>
                
            </dv>
            <div class="col-sm-6">
                <a href="{%url 'authorities' %}">
                    <h1 class="text-center">Health Services</h1>
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    body{
        background: url(https://t3.ftcdn.net/jpg/02/42/35/80/240_F_242358013_1ZNmuOcFlpBpVxhb7j2t2KhL9AnIh7XZ.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
   
</style>
{% endblock%}