{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<di class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {% for posts in post%}
            
                <h4><b>Title: </b>{{posts.title}}</h4>
            
                <h5><b>Username:</b> {{posts.username}}</h5>
            
                <h6><b>Post:</b>{{posts.post}}</h6>
                <p><b>Neighbourhood:</b> {{posts.neighbourhood}}</p>
            
            {% endfor %}
            <a href="{% url 'new_post' %}">
                <button class="bnt btn-primary">Post Update</button>
            </a>
        </div>
        <div class="col-sm-2"></div>
    </div>
</di>
{% endblock %}