{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card h-80">
                <img src="{{profiles.image.url}}" class="card-img-top" alt="image" style="width:100%; border-radius: 50%;">
                <div class="card-body">
                    <hr>
                  <h5 class="text-center"><b>Name</b>: {{profiles.name}}</h5>
                  <hr>
                  <p class="card-text"><b>Neighbourhood</b>: {{profiles.neighbourhood}}</p>
                  <p class="card-text"><b>User</b>: {{profiles.username}}</p>
                  <p class="card-text"><b>Description</b>: {{profiles.description |safe}}</p>
                  <p class="card-text"><b>Email</b>: {{profiles.email}}</p>
                  
    
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<style>
    body{
        background-color: lavender;
    }
    .card{
        padding: 20px;
        box-shadow: 5px 5px 4px#000;
        margin: 30px;
    }
</style>
{% endblock %}